<% layout("/layout/boilerplate") %>

    <div class="row mt-2">
        <div class="col-6 offset-3">
            <h3 class="col-6 offset-3">SignUp for wonderlust</h3>
            <form method="POST" action="/signup" class="needs-validation" novalidate>

                <div class="mb-3">
                    <label for="username" class="form-label "> Username</label>
                    <input name="username" placeholder="Enter your name " type="text" required class="form-control" />
                    <div class="valid-feedback">Look good!</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label "> Email</label>
                    <input name="email" placeholder="Enter your Email " type="text" required class="form-control" />
                    <!-- <div class="valid-feedback">Look good!</div> -->
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label "> Password</label>
                    <input name="password" placeholder="Enter your password " type="password" required class="form-control" />
                    <div class="invalid-feedback">password must have spacial character</div>
                </div>
     <button class="btn btn-success mt-2" >SignUp</button>
            </form>
        </div>
    </div>